.pagecontainer {
  margin-top: 4vh;
  margin-bottom: 4vh;
  height: 90vh;
  margin-left: 4vw;
  margin-right: 4vw;
  width: 90vw;
  border: 1px solid gray;
  box-shadow: 2px 2px 1px lightgray;
  background-color: lightgray;
}

.searchcontainer {
  height: 83vh;
  border: 1px solid gray;
  background-color: white;
}​

#searchbar{
  height: 100px;
}

#autocomplete{
  height: 10vh;
}


#bar{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
  width: 100%;
  height: 100%;
	background-color: #fff;
	border: thin solid #ccc;
	padding: 10px;
  font-size: 7vh;
}

#autocomplete-items{
  background-color: white;
  height: 73vh;
  overflow: auto;
}

#autocomplete-items::-webkit-scrollbar { width: 0 !important }
#autocomplete-items { overflow: -moz-scrollbars-none; }
#autocomplete-items { -ms-overflow-style: none; }



.sidebarItem {
  padding: 4px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 10vh;
  font-size: 2.3vh;
}
.sidebarItemTitle {
  font-size: 1.5em;
  padding: 0;
  margin: 0;
  word-wrap:break-word;
}
.municipality-name {
    font-size: 0.7em;
}
.municipality-name::before {
    content: " in "
    
}
.sidebarItemP {
  padding: 0;
  margin: 0;
  word-wrap:break-word;
}

.sidebarItem:hover {
  background-color: lightskyblue !important; 
}

.autocomplete-items div {
display: inline-block;
width: 100%;
padding: 10px;
cursor: pointer;
background-color: #fff; 
border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
/*when hovering an item:*/
background-color: #e9e9e9; 
}
.autocomplete-active {
/*when navigating through the items using the arrow keys:*/
background-color: DodgerBlue !important; 
color: #ffffff; 
}


iframe {
  display: inline-block;
  height: 100%;
  width: 100%;
}

p {
  display: inline-block;
}



.cachemissescontainer {
  height: 6.88vh;
  width: 100%;
}

.centerdiv {
  display: table;
  height: 100%;
  line-height: 6vh;
  font-weight: bold;
  margin: auto;
  width: auto;
  white-space: nowrap;
  vertical-align: middle;
}

.cachedisplay {
  font-size: 2.5vw;
  text-align: center;
  margin: auto;
  display: inline;
}

.cachedicon {
  width: auto;
  margin-right: 0.8vw;
}
.cacheseparator {
  margin-left: 2.6vw;
  margin-right: 2.6vw;

}